body{
    width: 50rem;
    height: 70rem;
    border: 1px solid black;
    margin: 0 auto;
}

.sectionLeft{
    width: 35%;
    height: 100%;
    float: left;
}

.sectionRight{
    width: 65%;
    height: 100%;
    float: right;
    background-color: #E8EDF0;
}