body{
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    background-color: #F0DDCD;

}

.sectionLeft{
    width: 35%;
    height: 1300px;
    float: left;
    text-align: center;
    background-color: white;
}

.sectionRight{
    width: 65%;
    height: 1300px;
    float: right;
    background-color: #E8EDF0;
}
.avatar{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 20px auto;
    background-image: url("avatar.jpg");
    background-position: center center;
    background-size: cover;
}
.titleL{
    border: 1px solid wheat;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 45px ;
    background-color: #F0DDCD;
    font-weight: bold;
    letter-spacing: 3px;
}
.section-profile{
    padding-top: 35px;
    color: gray;
}
.section-contact{
    padding-top: 90px;
    color: gray;
}
.section-expertise{
    padding: 15px 0;
    color: gray;
}

.content{
    padding: 25px 50px ;
    text-align: center;
    font-size: 15px;
}
.contact a:link{
    text-decoration: none;
    color: gray;
}
.contact a:hover{
    text-decoration: none;
    color: #F0DDCD;
}

.content ul li{
    list-style: none;
    margin: 0 auto;
}

.sectionRight{
    color: gray;
}

.my-name{
    height: 150px;
    border: 1px solid white;
    background: white;
    margin: 45px 60px;
}

.name{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: lighter;
    color: lightslategray;
}
.job{
    text-align: center;
    padding-top: 5px;
    letter-spacing: 3px;
    color: gray;
}

.name-box{
    height: 130px;
    border: 3px solid #F0DDCD;
    background: white;
    margin: 7px;
}
.education-box{
    padding-top: 50px;
}

.titleR{
    border: 1px solid white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: -14px 35px ;
    background-color: white;
    font-weight: bold;
    letter-spacing: 3px;
}

.content-box{

    height: 240px;
    font-size: 15px;
    border-left: 3px solid lightgrey;
    margin: 25px 35px;
    padding-left: 28px;
}
.content-box-1{

    height: 450px;
    font-size: 15px;
    border-left: 3px solid lightgrey;
    margin: 25px 35px;
    padding-left: 28px;
}
.t1{
    font-weight: bolder;
}
.t2{
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
}
.my-name-responsive{
    display: none;
}
@media only screen and (min-width: 300px) and (max-width: 830px){
    .sectionLeft{
        width: 100%
    }
    .sectionRight{
        width: 100%;
        height: 100%;
        background-color: white;
    }
    .my-name{
        display: none;
    }
    .titleR{
        background-color: #F0DDCD;
        font-size: 15px;
    }
    .content-box{
        height: 320px;
        margin: 35px;
    }
    .content-box-1{
        height: 610px;
        margin: 35px;
    }
    .my-name-responsive{
        height: 80px;
        display: block;
        background-color: #E8EDF0;
        padding: 10px;
        margin: 20px auto;
    }
    .name-box-responsive{
        text-align: center;
        margin: 10px auto;
    }
    .name-responsive{

        font-size: 25px;
        font-weight: lighter;
        color: lightslategray;
    }
    .job-responsive{
        letter-spacing: 3px;
        color: gray;
        text-align: center;
    }

}
.dropdown{
    position: fixed;
    top: 50px;
}
.button{
    border: none;
    background-color: #F0DDCD;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;

}
.dropdown-content{
    display: none;
    text-align: center;
    position: absolute;
    min-width: 140px;
    background-color: #E8EDF0;

}
.dropdown-content a {
    color: grey;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}
.show{display: block;}
