body{
    width: 50rem;
    height: 70rem;
    border: 1px solid black;
    margin: 0 auto;
}

.sectionLeft{
    width: 35%;
    height: 100%;
    float: left;


}

.sectionRight{
    width: 65%;
    height: 100%;
    float: right;
    background-color: lightblue;
}
@media (max-width: 375px) {
    .sectionLeft {
        width: 100%;

    }
    .sectionRight{
        width: 100%;
    }
}